# AMBIENTE
NODE_ENV=development
PORT=3000

# FRONTEND URL (httpOnly Cookies)
# Desenvolvimento Local (sem Docker)
FRONTEND_URL=http://localhost:5173

# Desenvolvimento com Docker
# FRONTEND_URL=http://localhost:80

# Produção
# FRONTEND_URL=https://seu-dominio-frontend.com

# BANCO DE DADOS
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha
DB_NAME=pharmasys_db
DB_SSL=false
DB_SCHEMA=public

# Produção (exemplo)
# DB_HOST=seu-host-producao.com
# DB_SSL=true

# JWT (JSON Web Token)
JWT_SECRET=sua_chave_secreta_super_segura_aqui
JWT_EXPIRES_IN=4h
