DB_HOST=host_do_banco
DB_PORT=porta_do_banco
DB_USERNAME=username_do_banco
DB_PASSWORD=senha_do_banco
DB_NAME=nome_do_banco
DB_SSL=true_para_remoto_false_para_local
DB_SCHEMA=seu_schema
NODE_ENV=development_para_dev_production_para_prod
PORT=porta_da_api
JWT_SECRET=sua_chave_secreta
JWT_EXPIRES_IN=4h
