DB_HOST=HOST_DO_BANCO
DB_PORT=PORTA_DO_BANCO
DB_USERNAME=USERNAME_DO_BANCO
DB_PASSWORD=SENHA_DO_BANCO
DB_NAME=NOME_DO_BANCO
DB_SSL=TRUE_PARA_REMOTO_FALSE_PARA_LOCAL
NODE_ENV=DEVELOPMENT_PARA_DESENVOLVIMENTO_PRODUCTION_PARA_PRODUCAO
JWT_SECRET=SUA_CHAVE_SECRETA
DB_SCHEMA=SEU_SCHEMA
PORT=PORTA_DA_API
